{% extends 'base/sysadminmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
    Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/clientinfoheader.html' %}    

    <div class="card">
        
<!--         <div class="card-body"> -->
        <div class="card text-white">
                <div class="row mt-2">
                    <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;"> Case Folder</span>
                                {{form.folder}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Appearance</span>
                                {{form.appearance}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Reference No.</span>
                                {{form.referenceno}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Date Filed</span>
                                {{form.filing_date}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Filed At</span>
                                {{form.filed_at}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Status</span>
                                {{form.status}}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Type Of Case</span>
                                {{form.case_type}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Type Of Appln</span>
                                {{form.apptype}}
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Nature</span>
                                {{form.nature}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Lawyer</span>
                                {{form.handling_lawyer}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Client Ref</span>
                                {{form.clientrefno}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Our Ref</span>
                                {{form.matterno}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Matter Title</span>
                                {{form.matter_title}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Other Lawyers</span>
                                {{form.lawyers_involve}}
                            </div>
                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text" style="width: 110px;">Remrks</span>
                                {{form.remarks}}
                            </div>

                        </div>
                    </div>
                        <a class= 'btn btn-outline-primary btn-sm mb-3' href="{% url 'admin-client-update' client.id %}">Return</a>
                        <input class='btn btn-outline-primary btn-sm mb-3' type="submit" value="Save Record">
                    </form>
                </div>
        </div>   
           
<!--         </div> -->
    </div>
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="table-primary text-center">
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Tran Type</th>
                    <th scope="col">Lawyer</th>
                    <th scope="col">Task</th>
                    <th scope="col">Spent In Hrs</th>
                    <th scope="col">Spent In Min</th>
                   <th colspan="2" style="width:3%;">Action</th>
                    </tr>
            </thead>
                {% for task in task %}
            <tr>
                   <td style="font-weight: bold;">{{ task.tran_date }}</td>
                   <td style="font-weight: bold;">{{ client.tran_type }}</td>
                   <td style="font-weight: bold;">{{ client.lawyer }}</td>
                   <td style="font-weight: bold;">{{ client.task }}</td>
                   <td style="font-weight: bold;">{{ client.spentinhrs }}</td>
                   <td style="font-weight: bold;">{{ client.spentinmin }}</td>
                   <td>
                       <a class="btn btn-primary btn-sm" href="#" title="Edit Client">
                          <i class="fas fa-pen"></i>
                       </a>
                   </td>
                   <td>
                      <a class="btn btn-info btn-sm btn-icon-split" href= "{% url 'admin-client-delete' client.id %}" title="Delete Client">
                          <span class="icon text-white-20">
                              <i class="fas fa-trash"></i>
                          </span>                         
                      </a>
                   </td>
                </tr>
                {% endfor %}
    </table>

</div>

{% endblock content%}


