{% extends 'base/sysadminmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/clientinfoheader.html' %}

    <div class="card">
        <!-- <div class="card-body"> -->
        <div class="card text-white">
            <div class="row mt-2">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;"> Case Folder
                                </span>
                                <input type="text" value="{{folder.folder_description}}" name="folder_description"
                                    class="form-control" readonly>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text"
                                    style="width: 110px; font-weight: bold;">Appearance</span>
                                <select name="appearance" class="form-select form-control">
                                    <option selected></option>
                                    {% for apperance in appearance %}
                                    <option value="{{ apperance.id }}">
                                        {{ apperance.appearance }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Reference
                                    No.</span>
                                <input type="text" name="referenceno" class="form-control">
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Date Filed</span>
                                <input type="date" name="filing_date" class="form-control">
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Filed At</span>
                                <select name="filed_at" class="form-select form-control">
                                    <option selected></option>
                                    {% for courts in courts %}
                                    <option value="{{ courts.id }}">
                                        {{ courts.court }}
                                    </option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Status</span>
                                <select name="status" class="form-select form-control">
                                    <option selected></option>
                                    {% for status in status %}
                                    <option value="{{ status.id }}">
                                        {{ status.status }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Type Of
                                    Case</span>
                                <select name="case_type" class="form-select form-control">
                                    <option selected></option>
                                    {% for casetype in casetype %}
                                    <option value="{{ casetype.id }}">
                                        {{ casetype.case_type }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Type Of
                                    Appln</span>
                                <select name="apptype" class="form-select form-control">
                                    <option selected></option>
                                    {% for apptype in apptype %}
                                    <option value="{{ apptype.id }}">
                                        {{ apptype.apptype }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Nature</span>
                                <select name="nature" class="form-select form-control">
                                    <option selected></option>
                                    {% for nature in nature %}
                                    <option value="{{ nature.id }}">
                                        {{ nature.nature }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Lawyer</span>
                                <select name="handling_lawyer" class="form-select form-control">
                                    <option selected></option>
                                    {% for lawyer in lawyer %}
                                    <option value="{{ lawyer.id }}">
                                        {{ lawyer.access_code }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Client Ref</span>
                                <input type="text" name="clientrefno" class="form-control">
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Our Ref</span>
                                <input type="text" name="matterno" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Matter
                                    Title</span>
                                <textarea name="matter_title" id="" cols="200" rows="2" class="form-control"></textarea>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Other
                                    Lawyers</span>
                                <input type="text" name="lawyers_involve" class="form-control">
                            </div>
                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text" style="width: 110px;font-weight: bold;">Remarks</span>
                                <textarea name="remarks" id="" cols="200" rows="2" class="form-control"></textarea>
                            </div>
                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-text" style="width: 150px;font-weight: bold;">Opposing
                                    Counsel</span>
                                <input type="text" name="opposing_counsel" class="form-control">
                            </div>

                        </div>
                    </div>
                    <a class='btn btn-outline-primary btn-sm mb-3'
                        href="{% url 'admin-client-folder-update' folder.id %}">Return</a>
                    <input class='btn btn-outline-primary btn-sm mb-3' type="submit" value="Save Record">
                </form>
            </div>
        </div>
        <!-- </div>     -->
    </div>
</div>

{% endblock content%}