{% extends 'base/supportstaffmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
    Dashboard
{% endblock %}
{% block content %}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
    
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <li>
                        <a href="#" class="btn btn-outline-primary btn-sm mt-3">My Misc Expenses</a>
                        <a href="#" class="btn btn-outline-primary btn-sm mt-3">My Activities</a>
                        <a href="{% url 'supportstaff-my_messages' %}" class="btn btn-outline-primary btn-sm mt-3">My Messages</a>
                        <a href="#" class="btn btn-outline-primary btn-sm mt-3">My Lawyers</a>
                    
                </li>
    
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
    
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">{{ noofalerts }}</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        {% for alert in alertmessages %}
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">{{ alert.date_alert }}</div>
                                    <span class="font-weight-bold">{{ alert.message_alert}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
    
                <!-- Nav Item - Messages -->
    
                <div class="topbar-divider d-none d-sm-block"></div>
    
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                        <img class="img-profile rounded-circle"
                            src="{% static 'images/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'user-profile' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            John
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'user-logout' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
    
            </ul>
    
        </nav>
    
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- <div class="container-fluid"> -->
        <div class="container">
        <!-- To put table content -->
            <div class="card">
                <div class="row my-1">
                    <div class="col">
                        <h6 class="card-title bg-primary text-white text-center">Attention: Unread Messages</h6>
                        <table class="table-hover table-bordered table-sm small table">
                            <thead class="table-primary text-center">
                                <tr>
                                    <th style="width:10%;">Date</th>
                                    <th style="width:10%;">From</th>
                                    <th style="width:20%;">Subject</th>
                                    <th style="width:55%;">Message</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                                <tbody>
                                    {% for msg in messages %}
                                    <tr>
                                        <td style="font-weight: bold;">{{ msg.messagedate | date:'m/d/Y' }}</td>
                                        <td style="font-weight: bold;">{{ msg.messagefrom }}</td>
                                        <td style="font-weight: bold;">{{ msg.subject }}</td>
                                        <td style="font-weight: bold;">{{ msg.messagebox }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="{% url 'supportstaff-open_message' msg.id %}"
                                                title="Open Message">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        </td>
                                    </tr>
                
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <h6 class="card-title bg-primary text-white text-center">Attention: Upcoming Due Dates</h6>
                        <table class="table-hover table-bordered table-sm small table">
                            <thead class="table-primary text-center">
                                <tr>
                                    <th style="width:35%;">Matter Title</th>
                                    <th style="width:10%;">Lawyer</th>
                                    <th style="width:10%;">Due Date</th>
                                    <th style="width:40%;">Partculars</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dues in duedates %}
                                <tr>
                                    <td style="font-weight: bold;">{{ dues.matter.matter_title }}</td>
                                    <td style="font-weight: bold;">{{ dues.matter.handling_lawyer.access_code }}</td>
                                    <td style="font-weight: bold;">{{ dues.duedate | date:'m/d/Y' }}</td>
                                    <td style="font-weight: bold;">{{ dues.particulars }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="#" title="Open Matter">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <h6 class="card-title bg-primary text-white text-center">Attention: Recent Activities</h6>
                        <table class="table-hover table-bordered table-sm small table">
                            <thead class="table-primary text-center">
                                <tr>
                                    <th style="width:10%;">Date</th>
                                    <th style="width:35%;">Matter Title</th>
                                    <th style="width:10%;">Lawyer</th>
                                    <th style="width:10%;">Prepared By</th>
                                    <th style="width:20%;">Activity</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in recenttask %}
                                <tr>
                                    <td style="font-weight: bold;">{{ task.tran_date | date:'m/d/Y' }}</td>
                                    <td style="font-weight: bold;">{{ task.matter.matter_title }}</td>
                                    <td style="font-weight: bold;">{{ task.lawyer.access_code }}</td>
                                    <td style="font-weight: bold;">{{ task.preparedby.access_code }}</td>
                                    <td style="font-weight: bold;">{{ task.task }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{% url 'superstaff-activity-review' task.id %}" title="Open Matter">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <h6 class="card-title bg-primary text-white text-center">Attention: Recent Uploaded Documents</h6>
                        <table class="table-hover table-bordered table-sm small table">
                            <thead class="table-primary text-center">
                                <tr>
                                    <th style="width:10%;">Doc Date</th>
                                    <th style="width:65%;">Activity</th>
                                    <th style="width:20%;">Description</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for docs in recentdocs %}
                                <tr>
                                    <td style="font-weight: bold;">{{ docs.DocDate | date:'m/d/Y' }}</td>
                                    <td style="font-weight: bold;">{{ docs.Task_Detail }}</td>
                                    <td style="font-weight: bold;">{{ docs.description }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="#"
                                            title="Open Document">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>    

{% endblock %}