{% extends 'base/associatemenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
    Dashboard
{% endblock %}
{% block content %}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
    
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="{% url 'associate-myclient-list' %}" class="btn btn-outline-primary btn-sm mt-3">My Clients</a>
                    <a href="{% url 'associate-myfolder-list' %}" class="btn btn-outline-primary btn-sm mt-3">My Folders</a>
                    <a href="{% url 'associate-matter-list' %}" class="btn btn-outline-primary btn-sm mt-3">My Matters</a>
                    <a href="{% url 'associate-mybilling-list' %}" class="btn btn-outline-primary btn-sm mt-3">My Bills</a>

                </li>
    
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
    
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">{{ noofalerts }}</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        {% for alert in alertmessages %}
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">{{ alert.date_alert }} - {{ alert.sentby }}</div>
                                    <span class="font-weight-bold">{{ alert.message_alert}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
    
                <!-- Nav Item - Messages -->
    
                <div class="topbar-divider d-none d-sm-block"></div>
    
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                        <img class="img-profile rounded-circle"
                            src="{% static 'images/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'user-logout' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
    
            </ul>
    
        </nav>
    
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- <div class="container-fluid"> -->
        <div class="container">
            <!-- <div class="card"> -->
                <div class="card">
                    <div class="row my-1"> 
                        <div class="col">
                            <h6 class="card-title bg-primary text-white text-center">Recent Due Dates</h6>
                            <table class="table-hover table-bordered table-sm small table">
                                    <thead class="table-primary text-center">
                                    <tr>
                                        <th style="width:5%;">Due Date</th>
                                        <th style="width:30%;">Client</th>
                                        <th style="width:30%;">Matter Title</th>
                                        <th style="width:30%;">Particulars</th>
                                        <th colspan="2" style="width:5%;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for duedates in duedates %}
                                        <tr>
                                            <td style="font-weight: bold;">{{ duedates.duedate | date:'m/d/Y' }}</td>
                                            <td style="font-weight: bold;">{{ duedates.matter.folder.client.client_name }}</td>
                                            <td style="font-weight: bold;">{{ duedates.matter.matter_title }}</td>
                                            <td style="font-weight: bold;">{{ duedates.particulars }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{% url 'recent-duedate-review' duedates.id %}" title="Open Due Date">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>                                 
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <h6 class="card-title bg-primary text-white text-center">Recent Activities</h6>
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th style="width:5%;">Activity Date</th>
                                        <th style="width:30%;">Client</th>
                                        <th style="width:30%;">Matter Title</th>
                                        <th style="width:30%;">Activity</th>
                                        <th colspan="2" style="width:5%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for recenttask in recenttask %}
                                    <tr>
                                        <td style="font-weight: bold;">{{ recenttask.tran_date | date:'m/d/Y'}}</td>
                                        <td style="font-weight: bold;">{{ recenttask.matter.folder.client.client_name }}</td>
                                        <td style="font-weight: bold;">{{ recenttask.matter.matter_title }}</td>
                                        <td style="font-weight: bold;">{{ recenttask.task }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="{% url 'recent-activity-review' recenttask.id %}" title="Open Activity">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                        </td>                        
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>                                
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <h6 class="card-title bg-primary text-white text-center">Recent Matters</h6>
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th style="width:25%;">Matter Title</th>
                                        <th style="width:12%;">Reference No.</th>
                                        <th style="width:5%;">Filing Date</th>
                                        <th style="width:15%;">Handling Lawyer</th>
                                        <th style="width:40%;">Case Folder</th>
                                        <th style="width:3%;">Action</th>
                                     </tr>
                    
                                </thead>
                                <tbody>
                                    {% for matter in matterlist %}
                                    <tr>
                                        <td style="font-weight: bold;">{{ matter.matter_title }}</td>
                                        <td style="font-weight: bold;">{{ matter.referenceno }}</td>
                                        <td style="font-weight: bold;">{{ matter.filing_date | date:'m/d/Y' }}</td>
                                        <td style="font-weight: bold;">{{ matter.handling_lawyer.lawyer_name }}</td>
                                        <td style="font-weight: bold;">{{ matter.folder }}</td>
                                        <td>
                                            <!-- <a class="btn btn-primary btn-sm" href="{% url 'associate-matter-review' matter.id %}" title="Edit Matter"> -->
                                            <a class="btn btn-primary btn-sm" href="{% url 'associate-matter-review' matter.id %}" title="Open Matter">
                                                   <i class="fas fa-pen"></i>
                                            </a>
                                        </td>
                                        <!-- <td>
                                           <a class="btn btn-info btn-sm btn-icon-split" href="#" title="Delete Matter">
                                               <span class="icon text-white-20">
                                                   <i class="fas fa-trash"></i>
                                               </span>                         
                                           </a>
                                        </td> -->
                                   </tr>
                       
                                    {% endfor %}
                                    </tbody>
                            </table>                                
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <h6 class="card-title bg-primary text-white text-center">Recent Billable Activities </h6>
                            <table class="table-hover table-bordered table-sm small table">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th style="width:5%;">Date</th>
                                        <th style="width:20%;">Matter</th>
                                        <th style="width:5%;">Lawyer</th>
                                        <th style="width:30%;">Particulars</th>
                                        <th style="width:5%;">Spent In Hrs</th>
                                        <th style="width:5%;">Spent In Min</th>
                                        <th style="width:5%;">Currency</th>
                                        <th style="width:8%;">Amount</th>
                                        <th style="width:8%;">Peso Amount</th>
                                        <th style="width:5%;">Action</th>
                                    </tr>
                        
                                </thead>
                                <tbody>
                                    {% for bills in recent_billables %}
                                    <tr>
                                        <td style="font-weight: bold;">{{ bills.tran_date | date:'m/d/Y' }}</td>
                                        <td style="font-weight: bold;">{{ bills.matter.matter_title }}</td>
                                        <td style="font-weight: bold;">{{ bills.lawyer }}</td>
                                        <td style="font-weight: bold;">{{ bills.particulars }}</td>
                                        <td style="font-weight: bold;">{{ bills.spentinhrs }}</td>
                                        <td style="font-weight: bold;">{{ bills.spentinmin }}</td>
                                        <td style="font-weight: bold;">{{ bills.currency }}</td>
                                        <td style="font-weight: bold;">{{ bills.amount }}</td>
                                        <td style="font-weight: bold;">{{ bills.pesoamount }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="#"
                                                title="Open Matter">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        </td>
                                        <!-- <td>
                                                                   <a class="btn btn-info btn-sm btn-icon-split" href="#" title="Delete Matter">
                                                                       <span class="icon text-white-20">
                                                                           <i class="fas fa-trash"></i>
                                                                       </span>                         
                                                                   </a>
                                                                </td> -->
                                    </tr>
                        
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            <!-- </div> -->
        </div>
    </div>
</div>    

{% endblock %}