{% extends 'base/associatemenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/caseinfoheader.html' %}
    <div class="card">
        <div class="card-body">
            <div class="card text-white">
                <div class="row mt-2">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form | crispy }} -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text"
                                        style="width: 110px; font-weight: bold;">Matter</span>
                                    <input type="text" name="matter" value="{{matter.matter_title}}"
                                        class="form-control" readonly>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">IPO
                                        Examiner</span>
                                    <input type="text" value="{{matter.ipo_examiner}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text"
                                        style="width: 110px; font-weight: bold;">Status</span>
                                    <input type="text" value="{{matter.status}}" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">IPC #</span>
                                    <input type="text" value="{{matter.ipc_appno}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">IPC
                                        Filed</span>
                                    <input type="text" value="{{matter.ipc_appdate}}" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Publication
                                        #</span>
                                    <input type="text" value="{{matter.publication_reference}}" class="form-control"
                                        readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Publication
                                        Date</span>
                                    <input type="text" value="{{matter.publication_date}}" class="form-control"
                                        readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Certificate
                                        #</span>
                                    <input type="text" value="{{matter.certificate_no}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Cert
                                        Date</span>
                                    <input type="text" value="{{matter.registration_date}}" class="form-control"
                                        readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text"
                                        style="width: 110px; font-weight: bold;">CopyRight#</span>
                                    <input type="text" value="{{matter.copyright_number}}" class="form-control"
                                        readonly>

                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">PCT Priority
                                    </span>
                                    <input type="text" value="{{matter.date_Of_PCTPriority}}" class="form-control"
                                        readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Renewal
                                        Date</span>
                                    <input type="text" value="{{matter.renewal_date}}" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">PCT
                                        AppNo#</span>
                                    <input type="text" value="{{matter.pct_appno}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">PCT Filed
                                        Date</span>
                                    <input type="text" value="{{matter.pct_appdate}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Lng Inter
                                        App</span>
                                    <input type="text" value="{{matter.lng_interappln}}" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">PCT
                                        Publn#</span>
                                    <input type="text" value="{{matter.pct_publication}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">PCT Publn
                                        Date</span>
                                    <input type="text" value="{{matter.pct_pubdate}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Lng Inter
                                        Pub</span>
                                    <input type="text" value="{{matter.lng_interpubln}}" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text"
                                        style="width: 110px; font-weight: bold;">Priority#</span>
                                    <input type="text" value="{{matter.priority_number}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Priority
                                        Date</span>
                                    <input type="text" value="{{matter.priority_date}}" class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Priority
                                        Filing</span>
                                    <input type="text" value="{{matter.priority_country_filing}}" class="form-control"
                                        readonly>
                                </div>
                            </div>

                        </div>
                        <a class='btn btn-outline-primary btn-sm mb-3 mt-2'
                            href="{% url 'associate-matter-review' matter.id %}">Return</a>
                        <a class='btn btn-outline-primary btn-sm mb-3 mt-2'
                            href="{% url 'associate-matter-clasofgoods' matter.id matter.apptype%}">Classification Of
                            Goods</a>
                    </form>
                </div>
                <div class="card-header text-white text-center bg-primary">Classification Of Goods</div>
                <table class="table-hover table-bordered table-sm small table">
                    <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                    <thead class="text-white text-center" style="background-color:green ;">
                        <tr">
                            <th style="width:10%;">Nice Class</th>
                            <th style="width:80%;">Description</th>
                            <th colspan="2" style="width:10%;">Action</th>
                            </tr>
                    </thead>
                    {% for goods in listofgoods %}
                    <tr>
                        <td style="font-weight: bold;">{{ goods.classes }}</td>
                        <td style="font-weight: bold;">{{ goods.Goods_Descriptions }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                                href="{% url 'admin-edit-classofgood' matter.id goods.id %}"
                                title="Edit Classification Of Goods">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm btn-icon-split" href="#" title="Delete Matter">
                                <span class="icon text-white-20">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="card-header text-center text-white bg-primary">Due Dates</div>
                <div>
                    <table class="table-hover table-bordered table-sm small table">
                        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Due Date</th>
                                <th style="width:15%;">Assign To</th>
                                <th style="width:55%;">Particulars</th>
                                <th style="width:10%;">Date Complied</th>
                                <th colspan="1" style="width:10%;"><a href="{% url 'associate-add_duedate' m_id %}"><i
                                            class="fas fa-plus text-center"></i>&nbsp;Due Date</a></th>
                            </tr>
                        </thead>
                        {% for duedate in duedatelist %}
                        <tr>
                            <td style="font-weight: bold;">{{ duedate.duedate | date:'m/d/Y' }}</td>
                            <td style="font-weight: bold;">{{ duedate.assignto }}</td>
                            <td style="font-weight: bold;">{{ duedate.particulars }}</td>
                            <td style="font-weight: bold;">{{ duedate.date_complied }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm"
                                    href="{% url 'associate-edit_duedate' duedate.id m_id %}" title="Edit Due Date">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}